.full-container {
  height: 640px;
}
@media all and (max-width: 1152px) {
  .full-container {
    height: 512px;
  }
}
@media all and (max-width: 864px) {
  .full-container {
    height: 384px;
  }
}
@media all and (max-width: 576px) {
  .full-container {
    height: 256px;
  }
}
@media all and (max-width: 400px) {
  .full-container {
    height: 200px;
  }
}
.full-container .top-menu {
  position: relative;
  padding: 0% 1% 0% 1%;
}
.full-container .top-menu .bird {
  position: absolute;
  z-index: 1;
  width: 6%;
}
.full-container .top-menu .bird img {
  width: 100%;
  height: auto;
}
.full-container .top-menu .top-title {
  z-index: 1;
  background-color: white;
  padding: 1% 0%;
  padding-left: 12%;
}
.full-container .top-menu .top-title li {
  display: inline-block;
  font-size: 17px;
  font-family: cursive;
  font-weight: 600;
  padding: 0% 1%;
}
@media all and (max-width: 650px) {
  .full-container .top-menu .top-title li {
    display: block;
  }
}
@media all and (max-width: 1152px) {
  .full-container .top-menu .top-title li {
    font-size: 13.6px;
  }
}
@media all and (max-width: 864px) {
  .full-container .top-menu .top-title li {
    font-size: 10.2px;
  }
}
@media all and (max-width: 576px) {
  .full-container .top-menu .top-title li {
    font-size: 6.8px;
  }
}
@media all and (max-width: 400px) {
  .full-container .top-menu .top-title li {
    font-size: 4px;
  }
}
.full-container .top-menu .top-title li a {
  text-decoration: none;
  color: black;
}
.full-container .slide-show {
  position: relative;
  z-index: -1200;
}
.full-container .image {
  position: absolute;
}
.full-container .image img {
  width: 100%;
  height: 640px;
}
@media all and (max-width: 1152px) {
  .full-container .image img {
    height: 512px;
  }
}
@media all and (max-width: 864px) {
  .full-container .image img {
    height: 384px;
  }
}
@media all and (max-width: 576px) {
  .full-container .image img {
    height: 256px;
  }
}
@media all and (max-width: 400px) {
  .full-container .image img {
    height: 200px;
  }
}
.full-container .image .text {
  position: absolute;
  top: 20%;
  left: 3%;
  z-index: 1;
  color: white;
  font-family: cursive;
}
.full-container .image .text h1 {
  font-size: 36px;
}
@media all and (max-width: 1152px) {
  .full-container .image .text h1 {
    font-size: 27px;
  }
}
@media all and (max-width: 864px) {
  .full-container .image .text h1 {
    font-size: 18px;
  }
}
@media all and (max-width: 576px) {
  .full-container .image .text h1 {
    font-size: 9px;
  }
}
@media all and (max-width: 400px) {
  .full-container .image .text h1 {
    font-size: 6px;
  }
}
.full-container .image .text h3 {
  font-size: 20px;
}
@media all and (max-width: 1152px) {
  .full-container .image .text h3 {
    font-size: 16px;
  }
}
@media all and (max-width: 864px) {
  .full-container .image .text h3 {
    font-size: 12px;
  }
}
@media all and (max-width: 576px) {
  .full-container .image .text h3 {
    font-size: 8px;
  }
}
@media all and (max-width: 400px) {
  .full-container .image .text h3 {
    font-size: 5px;
  }
}
.full-container .image .text p {
  font-size: 14px;
}
@media all and (max-width: 1152px) {
  .full-container .image .text p {
    font-size: 11.2px;
  }
}
@media all and (max-width: 864px) {
  .full-container .image .text p {
    font-size: 8.4px;
  }
}
@media all and (max-width: 576px) {
  .full-container .image .text p {
    font-size: 5.6px;
  }
}
@media all and (max-width: 400px) {
  .full-container .image .text p {
    font-size: 4px;
  }
}

.middle {
  position: relative;
}
@media all and (max-width: 650px) {
  .middle {
    top: 8.5em;
  }
}
.middle img {
  position: relative;
  width: 100%;
  height: 400px;
}
@media all and (max-width: 1152px) {
  .middle img {
    height: 320px;
  }
}
@media all and (max-width: 864px) {
  .middle img {
    height: 240px;
  }
}
@media all and (max-width: 576px) {
  .middle img {
    height: 160px;
  }
}
@media all and (max-width: 400px) {
  .middle img {
    height: 155px;
  }
}
.middle .item-text p {
  position: absolute;
  top: 40%;
  left: 35%;
  z-index: 2;
  color: white;
  font-size: 25px;
  font-family: inherit;
  border: 1px solid white;
  padding: 3%;
}
@media all and (max-width: 1152px) {
  .middle .item-text p {
    font-size: 20px;
  }
}
@media all and (max-width: 864px) {
  .middle .item-text p {
    font-size: 15px;
  }
}
@media all and (max-width: 576px) {
  .middle .item-text p {
    font-size: 10px;
  }
}
@media all and (max-width: 400px) {
  .middle .item-text p {
    font-size: 7px;
  }
}
.middle .item-text .button {
  background-color: white;
  transition: 2s;
}
.middle .middle-picture1 {
  float: left;
  width: 50%;
  position: relative;
}
.middle .middle-picture2 {
  float: left;
  width: 50%;
  position: relative;
}
.middle .middle-picture3 {
  float: left;
  width: 50%;
  position: relative;
}
.middle .middle-picture4 {
  float: left;
  width: 50%;
  position: relative;
}
